{% extends "Sell/index.html" %}
    {% block content %}
    {% if account %}
                {% for item in account_picture %}
                <img scr="item" alt="picture" />
                {% endfor %}
                {% if account.p_status == 'p' %}
                <p id="p_account"><span id="p_title">Code:</span> {{account.code}}</p>
                <p id="p_account"><span id="p_title">Status:</span> {{account.status}}</p>
                {% else %}
                <p id="p_account"><span id="p_title">Code:</span> {{account.w_code}}</p>
                <p id="p_account"><span id="p_title">Status:</span> Waiting</p>
                {% endif %}
                <hr id="hr-1">
                <p id="p_account"><span id="p_title">Level:</span> {{account.level}}</p>
                <p id="p_account"><span id="p_title">Region:</span> {{account.region}}</p>
                <p id="p_account"><span id="p_title">Rank:</span> {{account.rank}}</p>
                <hr id="hr-1">
                <p id="p_account"><span id="p_title">Battle Pass:</span> {{account.battle_pass}}</p>
                <p id="p_account"><span id="p_title">Description:</span> {{account.description}}</p>
                <hr id="hr-1">
                <p id="p_account"><span id="p_title">Price:</span> {{account.price}}$</p>
                {% if account.status == 'Sold' %}
                <i><p style="color: red; font-weight:bold; font-size: 30px">Sold</p></i>
                {% elif account.p_status == 'w' %}
                <p style="color: #ffcc00; font-weight:bold; font-size: 30px">WaitForPublish</p>
                {% else %}
                <center><button id="ACButton">Add To Cart</button></center>
                {% endif %}
                <hr id="hr-1">
    {% endif %}
    {% endblock %}
