{% extends "Sell/index.html" %}
    {% block content %}
        {% if accounts_list %}
            <ul>
            {% for account in accounts_list %}
                {% if account.status == 'Available' %}
                <li id="{{account.code}}"><a href="{{account.code}}" id="link{{account.code}}"><span style="color: green">Code:{{account.code}}</span><br />
                  {{account.status}}<br />
                  {% if account.status == 'Sold' %}
                  {% else %}
                  {{account.price}}$</a></li>
                  {% endif %}
                {% else %}
                <li id="{{account.code}}"><a href="{{account.code}}" id="link{{account.code}}" class="sold-href"><span style="color: #cc0000 ">Code:{{account.code}}</span><br />
                  {{account.status}}<br />
                  {% if account.status == 'Sold' %}
                  {% else %}
                  {{account.price}}$</a></li>
                  {% endif %}
                  {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <p>No Accounts Are Available</p>
        {% endif %}
    {% endblock %}
