<html>
    <head meta charset="utf-8">
        <title>CodStore-Sell-Form</title>
        <link rel="stylesheet" href="/static/Sell/index.css" />
    </head>
    <body>
        {% include "Sell/topbar.html" %}<br />
        <div class="all">
            <center><div class="Header">
                <p> Buy And Sell Accounts </p>
            </div></center>
            <center><div class="Container">
                <div id='P'>
                {% block content %}{% endblock %}
              </div><br />
                <div id='W'>
                {% block content2 %}{% endblock %}
              </div>
            </div></center>
            <div class="footer">
            </div>
      </div>
    </body>
</html>
